// section.wizard::before{
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100px;
//     background: linear-gradient(to top, #094b65, transparent);
//     z-index: 10;
// }
section.wizard {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #094b65;
  background: linear-gradient(
    0deg,
    #c1c1cf,
    #691ece 70%,
    #352b7e 100%,
    transparent
  );

  #bird1 {
    width: 100px;
    z-index: 100;
    position: absolute;
    top: 20%;
    left: 30%;
  }

  #bird2 {
    width: 100px;
    z-index: 100;
    position: absolute;
    top: 5%;
    right: 30%;
  }

  img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    pointer-events: none;
  }

  #clouds {
    object-position: top;
    opacity: 30%;
    z-index: 15;
    top: 1%;
    left: -100%;
  }

  #sky {
    object-position: bottom;
    z-index: -10;
    object-fit: cover;
  }

  #stars {
    object-position: top;
    z-index: 10;
    margin-top: 5%;
  }

  #moons {
    position: absolute;
    top: 5%;
    left: -7%;
    width: 110%;
    z-index: 11;
  }

  #floatingRocksLeft {
    width: 40%;
    position: left;
    left: 11%;
    position: absolute;
    z-index: 10;
    top: 35%;
  }

  #floatingRocksRight {
    width: 40%;
    position: left;
    right: 11%;
    position: absolute;
    z-index: 8;
    top: 25%;
    animation: floatingRightRocks 60s ease-in-out infinite;
  }

  #backgroundRocks {
    top: -22%;
    z-index: 7;
  }

  #backRocks {
    top: 25%;
    z-index: 9;
  }

  #bottomRocks {
    z-index: 10;
  }

  #wizardGirl {
    width: 20%;
    position: absolute;
    right: 13%;
    z-index: 9;
    bottom: 12%;
    animation: wizardGirl 3s ease-in-out 5s infinite;
  }
  //   #floatingRocksRight {
  //     width: 20%;
  //     position: absolute;
  //     right: 13%;
  //     z-index: 9;
  //     bottom: 12%;
  //   }

  #magicBroom {
    position: absolute;
    top: 80%;
    right: -40%;
    width: 30%;
    z-index: 20;
    animation: magicBroom 30s ease-in-out infinite;
  }

  #text {
    position: absolute;
    left: 25%;
    bottom: 45%;
    z-index: 9;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: "Rancho";

    // transform: translateY(-10%);
  }
  #text1 {
    position: absolute;
    left: 25%;
    bottom: 5%;
    z-index: 9;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: "Rancho";
    letter-spacing: 2px;
    font-weight: 400;
    z-index: 9;
    color: #c28bcb;
    text-shadow: 0 0 10px #003a80;
  }
  .btn {
    z-index: 11;
    left: 40%;
    position: absolute;
    bottom: 40%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
  }
}

.aboutContainer {
  background: url("../../public/assets/img/city.jpg") no-repeat;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 7%;
  h2 {
    font-size: 30px;
    margin-bottom: 2%;
    color: white;
  }
  .aboutDetails {
    width: 55%;
    height: 75%;
    padding: 5% 4%;
    background: rgba(0, 0, 0, 0.4);
    color: #b5b3b3;
    border-left: 2px solid #1aacac;
    .photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      float: left;
      margin: 10px 30px 30px 10px;
    }
    p {
      font-size: 18px;
      line-height: 1.7;
    }
  }
}
.contactContainer::before {
  content: "";
  background: url("../../public/assets/img/flowers.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.contactContainer {
  position: relative;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 7%;
  align-items: flex-end;
  .contactForm {
    padding: 50px 100px 65px;
    border-radius: 10px;
    color: #fff;
    float: right;
    margin-right: 20vmin;
    width: 500px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-right: 2px solid #1aacac;
    h2 {
      font-size: 30px;
      text-align: center;
      font-family: Gotham XNarrow A, Gotham XNarrow B, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-style: normal;
      color: #fff;
      margin-bottom: 10%;
    }
    .form {
      display: flex;
      flex-flow: column;
      label {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 13px;
        font-family: Segoe UI, Roboto, Helvetica Neue, -apple-system,
          BlinkMacSystemFont, Arial, sans-serif;
      }
      input,
      textarea {
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        margin: 10px 0 20px;
        font-size: 15px;
        padding: 5px;
        background: #444;
        border: #000;
        border-bottom: 1px solid #44f;
        color: #fff;
      }
      input:focus {
        outline: none !important;
      }
      button {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 13px;
        background: #44f;
        border: none;
        color: #fff;
        border-radius: 1000px 1000px;
        padding: 10px;
        font-family: Gotham XNarrow A, Gotham XNarrow B, -apple-system,
          BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
          sans-serif;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        cursor: pointer;
        outline: 0;
      }
    }
  }
}
.footer {
  background: #141618;
  position: relative;
  color: #fff;
  text-align: center;
  width: 100vw;
  padding: 50px 8vw 30px;
  ul {
    font-family: Gotham XNarrow A, Gotham XNarrow B, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 3px;
    opacity: 0.8;
    margin-bottom: 30px;
    li {
      display: inline-block;
      padding-right: 15px;
    }
  }
  hr {
    margin-bottom: 30px;
    opacity: 0.1;
  }
  p {
    opacity: 0.7;
    margin-bottom: 30px;
    font-family: Mercury Display A, Mercury Display B, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    color: #b5b3b3;
    font-size: 18px;
  }
  .social-links a {
    color: white;
    margin-right: 25px;
  }
}
@keyframes floatingRightRocks {
  0% {
    top: 25%;
    right: 11%;
  }

  50% {
    top: 0%;
    right: 0%;
  }

  100% {
    top: 25%;
    right: 11%;
  }
}
@keyframes wizardGirl {
  0% {
    bottom: 12%;
  }

  50% {
    bottom: 13%;
  }

  100% {
    bottom: 12%;
  }
}

@keyframes magicBroom {
  0% {
    top: 80%;
    right: -40%;
  }

  10% {
    top: 0%;
    right: 100%;
  }

  100% {
    top: 0%;
    right: 100%;
  }
}
